body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#stock-info {
    margin-top: 20px;
}

#stock-table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#stock-table th, #stock-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#stock-table th {
    background-color: #f2f2f2;
}